<div class="reset-container">
  <h2>Resetovanje lozinke</h2>
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Unesite svoj email:</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        required
      />
      <div *ngIf="resetForm.get('email')?.invalid && resetForm.get('email')?.touched">
        Unesite validan email.
      </div>
    </div>

    <button type="submit" [disabled]="resetForm.invalid">Pošalji link za resetovanje</button>
  </form>

  <div *ngIf="message" class="message">
    {{ message }}
  </div>
</div>
