<div class="user-portal">
  <!-- Top Container -->
  <div class="top-container">
    <img src="assets/banka1.png" alt="Bank Logo" class="bank-logo">
  </div>

  <div class="content">
    <!-- Sidebar / Navbar -->
    <nav class="sidebar">
      <ul>
        <li><button class="sidebar-button">Musterije</button></li>
        <li><button class="sidebar-button">Zaposleni</button></li>
        <li><button class="sidebar-button">Administratori</button></li>
      </ul>

      <button class="logout-btn" (click)="logout()">Izloguj se</button>

    </nav>

    <!-- Main Section -->
    <div class="main-content">
      <!-- Search & Add Employee Section -->
      <div class="filter-add-container">
        <!-- Search Input -->
        <input type="text" class="filter-input" [(ngModel)]="searchQuery" (input)="filterEmployees($event)" placeholder="Pretraga...">

        <!-- Add Employee Button -->
        <button class="add-employee-btn" (click)="addEmployee()">Dodaj</button>
      </div>


      <!-- Employee Table -->
      <div class="table-container">
        <div class="table-overlay">
          <table>
            <thead>
            <tr>
              <th>Ime i Prezime</th>
              <th>Email</th>
              <th>Pozicija</th>
              <th>Broj Telefona</th>
              <th>Aktivan</th>
              <th>Akcije</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let employee of employees">
<!--            <tr *ngFor="let employee of filteredEmployees">-->
            <td>{{ employee.ime }}</td>
              <td>{{ employee.prezime }}</td>
              <td>{{ employee.email }}</td>
              <td>{{ employee.pozicija }}</td>
              <td>{{ employee.broj_telefona }}</td>
              <td>{{ employee.aktivan ? 'Da' : 'Ne' }}</td>
              <td>
                <img src="assets/bin.jpg" class="delete-icon" (click)="deleteEmployee(employee)">
              </td>

            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Button Below Table -->
      <div class="next-button-container">
        <button class="next-button" (click)="sledece()">Sledeće</button>
      </div>
    </div>
  </div>

  <!-- Bottom Container -->
  <div class="bottom-container"></div>
</div>
