/* Globalni stilovi */
body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #222942;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat';
  color: #ECD487;
  overflow: hidden;
}

/* Kontejner za formu */
.form-container {
  width: 100%;
  height: 100%;
  max-width: 500px;
  padding: 40px;
  text-align: center;
  background-color: #222942;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* Naslovi */
.title {
  color: #ECD487;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.subtitle {
  color: white;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Input grupe */
.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: #F2E7C6;
  font-style: italic;
}

.input-group input {
  width: 100%;
  padding: 12px 15px;
  border: none;
  border-radius: 10px;
  background-color: #3B4754;
  color: white;
  font-size: 16px;
}

/* Reset lozinke */
.reset-password {
  text-align: left;
  margin-bottom: 20px;
  font-size: 14px;
}

.reset-password a {
  color: white;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

/* Dugmad */
.form-btn {
  background-color: #3B5445;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
  transition: background-color 0.3s ease;
}

.form-btn:hover {
  background-color: #5470fe;
}

/* Poruka o grešci */
.error-message {
  color: #ff4d4d;
  margin-top: 10px;
  font-size: 14px;
}
